.metro code, .metro .code {
    line-height: 15pt !important;
}

tr {
    border-bottom: 1px solid #ccc;
}

thead tr {
    border-bottom: 1px solid black;
}

td, th {
    padding: .2em .5em;
}

.metro .navigation-bar .navigation-bar-content .element
{
    height: 74px;
}

.metro .navigation-bar .navigation-bar-content .element-divider
{
    padding-top: 74px;
}