<ul>
    <li>
        <a href="./installing.html"><strong>Installing Avtor</strong></a>
        <ul>
            <li><a href="./installing.html#chooseing-the-right-package">Choosing the right package</a></li>
            <li><a href="./installing.html#installing-avtor">Installing Avtor</a></li>
            <li><a href="./installing.html#installing-the-avtor-license">Installing the Avtor License</a></li>
        </ul>
    </li>
    <li>
        <a href="./gettingstarted.html"><strong>Getting Started</strong></a>
        <ul>
            <li><a href="./gettingstarted.html#starting-avtor">Starting Avtor</a></li>
            <li>
                <a href="./gettingstarted.html#editing-fields-in-avtor">Editing fields in Avtor</a>
                <ul>
                    <li><a href="./gettingstarted.html#selecting-fields-to-edit-in-avtor">Selecting Fields to edit in Avtor</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
