<ul>
    <li>
        <a href="./installing.html"><strong>Installing Avtor</strong></a>
        <ul>
            <li><a href="./installing.html#chooseing-the-right-package">Choosing the right package</a></li>
            <li><a href="./installing.html#installing-avtor">Installing Avtor</a></li>
            <li><a href="./installing.html#installing-the-license">Installing the License</a></li>
        </ul>
    </li>
    <li>
        <a href="./gettingstarted.html"><strong>Getting Started</strong></a>
        <ul>
            <li><a href="./gettingstarted.html#starting-avtor">Starting Avtor</a></li>
        </ul>
    </li>
</ul>
