<ul>
    <li>
        <a href="./installing.html"><strong>Installing Avtor</strong></a>
        <ul>
            <li><a href="./installing.html#chooseing-the-right-package">Choosing the right package</a></li>
            <li><a href="./installing.html#installing-avtor">Installing Avtor</a></li>
            <li><a href="./installing.html#installing-the-avtor-license">Installing the Avtor License</a></li>
        </ul>
    </li>
    <li>
        <a href="./gettingstarted.html"><strong>Getting Started</strong></a>
        <ul>
            <li><a href="./gettingstarted.html#starting-avtor">Starting Avtor</a></li>
            <li>
                <a href="./gettingstarted.html#editing-fields-in-avtor">Editing items in Avtor</a>
                <ul>
                    <li><a href="./gettingstarted.html#selecting-fields-to-edit-in-avtor">Selecting Fields to edit in Avtor</a></li>
                    <li><a href="./gettingstarted.html#updating-items-in-sitecore">Updating items in Sitecore</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="./editingitems.html"><strong>Editing Items</strong></a>
        <ul>
            <li><a href="./editingitems.html#when-to-use-avtor">When to use Avtor</a></li>
            <li><a href="./editingitems.html#editing-fields-in-avtor">The Avtor editor</a></li>
            <li><a href="./editingitems.html#editing-fields">Editing fields</a></li>
            <li><a href="./editingitems.html#switching-languages">Switching Languages</a></li>
            <li><a href="./editingitems.html#missing-fields">Missing fields</a></li>
            <li><a href="./editingitems.html#editing-more-complex-field-types">Editing more complex field types</a></li>
            <li><a href="./editingitems.html#editing-fields-as-an-administrator">Editing fields as an Administrator</a></li>
            <li><a href="./editingitems.html#editing-items-in-a-sitecore-workflow">Editing items in a Sitecore workflow</a></li>
        </ul>
    </li>
    <li>
        <a href="./fieldsets.html"><strong>Field Sets</strong></a>
        <ul>
            <li><a href="./fieldsets.html#creating-a-field-set">Creating a Field Set</a></li>
            <li><a href="./fieldsets.html#editing-a-field-set">Editing a Field Set</a></li>
            <li><a href="./fieldsets.html#selecting-an-existing-field-set">Selecting an existing Field Set</a></li>
            <li><a href="./fieldsets.html#copying-a-field-set">Copying a Field Set</a></li>
            <li><a href="./fieldsets.html#removing-a-field-set">Removing a Field Set</a></li>
        </ul>
    </li>
    <li>
        <a href="./importexport.html"><strong>Importing and Exporting items</strong></a>
        <ul>
            <li>
                <a href="./importexport.html#export-items">Exporting items</a>
                <ul>
                    <li><a href="./importexport.html#export-items-as-csv">Export items as CSV</a></li>
                    <li><a href="./importexport.html#export-items-as-xml">Export items as XML</a></li>
                    <li><a href="./importexport.html#using-exported-xml-data-in-excel">Using Exported XML data in Excel</a></li>
                </ul>
            </li>
            <li><a href="./importexport.html#importing-items">Importing items</a></li>
        </ul>
    </li>
    <li>
        <a href="./search.html"><strong>Searching for items</strong></a>
        <ul>
            <li><a href="./search.html#search-ribbon-bar">Search ribbon bar</a></li>
            <li><a href="./search.html#viewing-search-results">Viewing search results</a></li>
            <li><a href="./search.html#search-results-in-item-buckets">Search Results in Item Buckets</a></li>
        </ul>
    </li>
    <li>
        <a href="./itembuckets.html"><strong>Item Buckets</strong></a>
        <ul></ul>
    </li>
    <li>
        <a href="./specialfeatures.html"><strong>Special features</strong></a>
        <ul></ul>
    </li>
</ul>
