<ul>
    <li>
        <a href="./chapter1.html"><strong>Feydra Getting started</strong></a>
        <ul>
            <li><a href="./index.html#about">About</a></li>
            <li><a href="./index.html#the-virtual-sandbox---how-it-works">The Virtual Sandbox - How it works</a></li>
            <li><a href="./index.html#installation-with-nuget">Installation with NuGet</a></li>
            <li><a href="./index.html#installation-without-nuget">Installation without NuGet</a></li>
            <li><a href="./index.html#deployment">Deployment</a></li>
            <li><a href="./index.html#setup">Setup</a></li>
        </ul>
    </li>
</ul>
