<ul>
    <li>
        <a href="./GettingStarted.html"><strong>Sitecore Feydra Getting Started</strong></a>
        <ul>
            <li><a href="./GettingStarted.html#the-virtual-sandbox---how-it-works">The Virtual Sandbox - How it works</a></li>
            <li><a href="./GettingStarted.html#installation-with-nuget">Installation with NuGet</a></li>
            <li><a href="./GettingStarted.html#installation-without-nuget">Installation without NuGet</a></li>
            <li><a href="./GettingStarted.html#deployment">Deployment</a></li>
            <li><a href="./GettingStarted.html#configuration">Configuration</a></li>
            <li><a href="./GettingStarted.html#setup">Setup</a></li>
        </ul>
    </li>
    <li>
        <a href="./UsingFeydra.html"><strong>Using Sitecore Feydra</strong></a>
        <ul>
            <li><a href="./UsingFeydra.html#the-sitecore-feydra-dashboard">The Sitecore Feydra Dashboard</a></li>
            <li><a href="./UsingFeydra.html#activating-sitecore-feydra">Activating Sitecore Feydra</a></li>
            <li><a href="./UsingFeydra.html#deactivating-sitecore-feydra">Deactivating Sitecore Feydra</a></li>
            <li><a href="./UsingFeydra.html#updating-the-front-end-assets">Updating the front-end assets</a></li>
            <li><a href="./UsingFeydra.html#adding-licenses">Adding Licenses</a></li>
            <li><a href="./UsingFeydra.html#sitecore-feydra-settings">Sitecore Feydra Settings</a></li>
            <li><a href="./UsingFeydra.html#conclusion">Conclusion</a></li>
        </ul>
    </li>
</ul>