<ul>
    <li>
        <a href="./index.html"><strong>Feydra Getting Started</strong></a>
        <ul>
            <li><a href="./index.html#about">About</a></li>
            <li><a href="./index.html#the-virtual-sandbox---how-it-works">The Virtual Sandbox - How it works</a></li>
            <li><a href="./index.html#installation-with-nuget">Installation with NuGet</a></li>
            <li><a href="./index.html#installation-without-nuget">Installation without NuGet</a></li>
            <li><a href="./index.html#deployment">Deployment</a></li>
            <li><a href="./index.html#configuration">Configuration</a></li>
            <li><a href="./index.html#setup">Setup</a></li>
        </ul>
    </li>
    <li>
        <a href="./UsingFeydra.html"><strong>Using Feydra</strong></a>
        <ul>
            <li><a href="./UsingFeydra.html#the-feydra-dashboard">The Feydra Dashboard</a></li>
            <li><a href="./UsingFeydra.html#activating-feydra">Activating Feydra</a></li>
            <li><a href="./UsingFeydra.html#deactivating-feydra">Deactivating Feydra</a></li>
            <li><a href="./UsingFeydra.html#updating-the-front-end-assets">Updating the front-end assets</a></li>
            <li><a href="./UsingFeydra.html#adding-licenses">Adding Licenses</a></li>
            <li><a href="./UsingFeydra.html#feydra-settings">Feydra Settings</a></li>
            <li><a href="./UsingFeydra.html#conclusion">Conclusion</a></li>
        </ul>
    </li>
</ul>
