<div class="navigation-bar white border">
    <div class="navigation-bar-content container">
        <a href="/" class="element" style="background-color: transparent !important;"><img src="/Images/new logo.png" /></a>
        <span class="element-divider"></span>
        <a class="element" href="/tds/index.html">TDS Classic Manual</a>
        <a class="element" href="/razl/index.html">Razl Manual</a>
        <a class="element" href="/feydra/index.html">Feydra Manual</a>
        <a class="element" href="/avtor/gettingstarted.html">Avtor Manual</a>
    </div>
</div>