 <div class="navigation-bar white border">
                <div class="navigation-bar-content container">
                    <a href="/" class="element"><img src="/Images/Logo.png" /></a>
                    <span class="element-divider"></span>
                    <a class="element" href="/tds/index.html">TDS Classic Manual</a>
                    <a class="element" href="/razl/index.html">Razl Manual</a>
                    <a class="element" href="/feydra/index.html">Feydra Manual</a>
                </div>
            </div>