<ul>
    <li>
        <a href="/razl/screen.html">Screen Layout</a>
        <ul>
            <li><a href="/razl/screen.html#toolbar">Toolbar</a></li>
            <li><a href="/razl/screen.html#content_trees">Content Trees</a></li>
            <li><a href="/razl/screen.html#field_information">Field Information</a></li>
            <li><a href="/razl/screen.html#task_list">Task List</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/connections.html">Connections</a>
        <ul>
            <li>
                <a href="/razl/connections.html#creating_a_connection">Creating a Connection</a>
                <ul>
                    <li>
                        <a href="/razl/connections.html#creating_a_connection_using_direct_connection">Creating a Connection using Direct Connection</a>
                        <a href="/razl/connections.html#creating_a_connection_using_packaged_connection">Creating a Connection using Packaged Connection</a>
                    </li>
                </ul>

            </li>
            <li><a href="/razl/connections.html#editing_a_connection">Editing a Connection</a></li>
            <li><a href="/razl/connections.html#deleting_a_connection">Deleting a Connection</a></li>
            <li><a href="/razl/connections.html#connection_information">Connection Information</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/comparing.html">Comparing</a>
        <ul>
            <li><a href="/razl/comparing.html#setting_up_for_comparison">Setting up for comparison</a></li>
            <li><a href="/razl/comparing.html#comparing_items">Comparing Items</a></li>
            <li><a href="/razl/comparing.html#comparing_fields">Comparing Fields</a></li>
            <li><a href="/razl/comparing.html#controlling_comparison">Controlling Comparison</a></li>
            <li><a href="/razl/comparing.html#content_tree_context_menu">Content Tree Context Menu</a></li>
        </ul>
    </li>
    <li>
        
        <a href="/razl/history.html">History Engine</a>
        <ul>
            <li><a href="/razl/history.html#opening_the_history_view">Opening the History View</a></li>
            <li><a href="/razl/history.html#the_history_view">The History View</a></li>
            <li><a href="/razl/history.html#navigating_to_item">Navigating to Item</a></li>
            <li><a href="/razl/history.html#loading_more_history">Loading More History</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/tasks.html">Tasks</a>
        <ul>
            <li><a href="/razl/tasks.html#available_tasks">Available Tasks</a></li>
            <li><a href="/razl/tasks.html#removing_tasks">Removing Tasks</a></li>
            <li><a href="/razl/tasks.html#running_tasks">Running Tasks</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/script.html">Scripts</a>
        <ul>
            <li><a href="/razl/script.html#running_a_razl_script">Running a Razl Script</a></li>
            <li><a href="/razl/script.html#razl_script_xml">Razl Script XML</a></li>
            <li>
                <a href="/razl/script.html#razl_xml_connections">Razl XML Connections</a>
                <ul>
                    <li><a href="/razl/script.html#defined_connections">Defined Connections</a></li>
                    <li><a href="/razl/script.html#preset_connections">Preset Connections</a></li>
                </ul>
            </li>
            <li>
                <a href="/razl/script.html#operations">Operations</a>
                 <ul>
                    <li><a href="/razl/script.html#copyhistory_operation">CopyHistory Operation</a></li>
                    <li><a href="/razl/script.html#copyitem_operation">CopyItem Operation</a></li>
                    <li><a href="/razl/script.html#copyall_operation">CopyAll Operation</a></li>
                </ul>
            </li>
            <li><a href="/razl/script.html#logging">Logging</a></li>
        </ul>
    </li>
</ul>
