<ul>
    <li>
        <a href="/razl/screen-v4.html"><strong>Screen Layout</strong></a>
        <ul>
            <li><a href="/razl/screen-v4.html#toolbar">Toolbar</a></li>
            <li><a href="/razl/screen-v4.html#content-trees">Content Trees</a></li>
            <li><a href="/razl/screen-v4.html#field-information">Field Information</a></li>
            <li><a href="/razl/screen-v4.html#task-list">Task List</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/connections-v4.html"><strong>Connections</strong></a>
        <ul>
            <li>
                <a href="/razl/connections-v4.html#creating-a-connection">Creating a Connection</a>
                <ul>
                    <li>
                        <a href="/razl/connections-v4.html#creating-a-connection-using-direct-connection">Creating a Connection using Direct Connection</a>
                    </li>
                    <li>
                        <a href="/razl/connections-v4.html#creating-a-connection-using-a-package">Creating a Connection using Packaged Connection</a>
                    </li>
                </ul>

            </li>
            <li><a href="/razl/connections-v4.html#the-connection-manager">The Connection Manager</a></li>
            <li><a href="/razl/connections-v4.html#editing-a-connection">Editing a Connection</a></li>
            <li><a href="/razl/connections-v4.html#deleting-a-connection">Deleting a Connection</a></li>
            <li><a href="/razl/connections-v4.html#connection-information">Connection Information</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/comparing-v4.html"><strong>Comparing</strong></a>
        <ul>
            <li><a href="/razl/comparing-v4.html#setting-up-for-comparison">Setting up for comparison</a></li>
            <li><a href="/razl/comparing-v4.html#comparing-items">Comparing Items</a></li>
            <li><a href="/razl/comparing-v4.html#lightning-mode">Lightning Mode</a></li>
            <li><a href="/razl/comparing-v4.html#deep-compare">Deep Compare</a></li>
            <li><a href="/razl/comparing-v4.html#searching-for-items">Searching for Items</a></li>
            <li><a href="/razl/comparing-v4.html#comparing-fields">Comparing Fields</a></li>
            <li>
                <a href="/razl/comparing-v4.html#the-field-value-editor">The Field Value Editor</a>
                <ul>
                    <li><a href="/razl/comparing-v4.html#text-field-editor">Text Field Editor</a></li>
                    <li><a href="/razl/comparing-v4.html#multi-list-field-editor">Multi-List Field Editor</a></li>
                    <li><a href="/razl/comparing-v4.html#xml-field-editor">Xml Field Editor</a></li>
                </ul>
            </li>
            <li><a href="/razl/comparing-v4.html#controlling-comparison">Controlling Comparison</a></li>
            <li><a href="/razl/comparing-v4.html#content-tree-context-menu">Content Tree Context Menu</a></li>
        </ul>
    </li>
    <li>

        <a href="/razl/history-v4.html"><strong>History Engine</strong></a>
        <ul>
            <li><a href="/razl/history-v4.html#opening-the-history-view">Opening the History View</a></li>
            <li><a href="/razl/history-v4.html#the-history-view">The History View</a></li>
            <li><a href="/razl/history-v4.html#navigating-to-item">Navigating to Item</a></li>
            <li><a href="/razl/history-v4.html#loading-more-history">Loading More History</a></li>
            <li><a href="/razl/history-v4.html#exporting-history-changes">Exporting history changes</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/tasks.html"><strong>Tasks</strong></a>
        <ul>
            <li><a href="/razl/tasks.html#available-tasks">Available Tasks</a></li>
            <li><a href="/razl/tasks.html#removing-tasks">Removing Tasks</a></li>
            <li><a href="/razl/tasks.html#running-tasks">Running Tasks</a></li>
            <li><a href="/razl/tasks.html#exporting-tasks">Exporting Tasks</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/logging.html"><strong>Logging</strong></a>
        <ul>
            <li><a href="/razl/logging.html#log-console">Log Console</a></li>
            <li><a href="/razl/logging.html#writing-to-a-log-folder">Writing to a Log Folder</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/script.html"><strong>Scripts</strong></a>
        <ul>
            <li><a href="/razl/script.html#running-a-razl-script">Running a Razl Script</a></li>
            <li><a href="/razl/script.html#razl-script-xml">Razl Script XML</a></li>
            <li>
                <a href="/razl/script.html#razl-xml-connections">Razl XML Connections</a>
                <ul>
                    <li><a href="/razl/script.html#defined-connections">Defined Connections</a></li>
                    <li><a href="/razl/script.html#preset-connections">Preset Connections</a></li>
                </ul>
            </li>
            <li>
                <a href="/razl/script.html#operations">Operations</a>
                <ul>
                    <li><a href="/razl/script.html#copyhistory-operation">CopyHistory Operation</a></li>
                    <li><a href="/razl/script.html#copyitem-operation">CopyItem Operation</a></li>
                    <li><a href="/razl/script.html#copyall-operation">CopyAll Operation</a></li>
                </ul>
            </li>
            <li><a href="/razl/script.html#logging">Logging</a></li>
        </ul>
    </li>
    <li>
        <a href="/razl/faq.html"><strong>FAQ</strong></a>
    </li>
</ul>
