<ul>
    <li>
        <a href="./chapter1.html">Chapter 1 – Introduction</a>
        <ul>
            <li><a href="./chapter1.html#team_development_for_sitecore_tds">Team Development for Sitecore (TDS)</a></li>
            <li><a href="./chapter1.html#how_it_works">How It Works</a></li>
            <li><a href="./chapter1.html#why_tds_works">Why TDS works</a></li>
            <li>
                <a href="./chapter1.html#work_environments">Work Environments</a>
                <ul>

                    <li><a href="./chapter1.html#development_environment_before_tds">Development environment before TDS</a></li>
                    <li><a href="./chapter1.html#development_environment_using_tds">Development environment using TDS</a></li>
                </ul>
            </li> 
        </ul>
    </li> 
    <li>
        <a href="./chapter2.html">Chapter 2 – Getting started with TDS</a>
        <ul>
            <li><a href="./chapter2.html#system_requirements">System Requirements</a></li>
            <li>
                <a href="./chapter2.html#installation">Installation</a>
                <ul>
                    <li><a href="./chapter2.html#stepbystep_instructions">Step-by-Step Instructions</a></li>
                    <li><a href="./chapter2.html#updateing_the_tds_license">Updating the TDS License</a></li>
                </ul>
            </li> 
            <li>
                <a href="./chapter2.html#initial_configuration">Initial Configuration</a>
                <ul>
                    <li><a href="./chapter2.html#create_the_tds_project">Create the TDS Project</a></li>
                    <li><a href="./chapter2.htm#connect_the_tds_project_to_sitecore">Connect the TDS Project to Sitecore</a></li>
                    <li><a href="./chapter2.html#adding_sitecore_items_to_the_tds_project">Adding Sitecore items to the TDS Project</a></li>
                    <li><a href="./chapter2.html#choosing_which_items_to_bring_into_a_tds_porject">Choosing which items to bring into a TDS 		project</a></li>
                </ul>
            </li> 

            <li>
                <a href="./chapter2.html#tds_project_types">TDS Project Types</a>
                <ul>

                    <li><a href="./chapter2.html#tds_project">TDS Project</a></li>
                    <li><a href="./chapter2.html#tds_project_with_wizard">TDS Project with Wizard</a></li>
                </ul>
            </li>
        </ul>
    </li> 
    <li>
        <a href="./chapter3.html">Chapter 3 – TDS Architecture</a>
        <ul>
            <li><a href="./chapter3.html#tds_addin">TDS Add-in</a></li>
            <li><a href="./chapter3.html#tds_web_service">TDS Web Service</a></li>
        </ul>
    </li> 
    <li>
        <a href="">Chapter 4 – Using TDS for Sitecore Development	23</a>
        <ul>

            <li><a href="">The Sitecore database(s)	24</a></li>
            <li><a href="">Working outside the web root	24</a></li>
            <li><a href="">Solution Structure	24</a></li>
            <li><a href="">TDS project property pages	26</a>
                <ul>
                    <li><a href="">General	26</a></li>
                    <li><a href="">Code Generation	28</a></li>
                    <li><a href="">Multi-project Properties	29</a></li>
                    <li><a href="">Build	31</a></li>
                    <li><a href="">Update Package	34</a></li>
                    <li><a href="">File Replacement	36</a></li>
                    <li><a href="">Nuget Package	37</a></li>
                    <li><a href="">Validations	41</a></li>
                </ul>
            </li> 
            <li><a href="">Deployment Properties	42</a></li>
            <li><a href="">Visual Studio Property Window	42</a></li>
            <li><a href="">TDS Options Window	45</a>
                <ul>
                    <li><a href="">General Options	46</a></li>
                    <li><a href="">Sync Window	47</a></li>
                </ul>
            </li> 
            <li><a href="">Deployment Property Manager	47</a></li>
            <li><a href="">Adding Sitecore items to a project	49</a></li>
            <li><a href="">Updating Sitecore Items in a project	50</a>
                <ul>
                    <li><a href="">The Sync Window	50</a></li>
                    <li><a href="">The Merge Window	53</a></li>
                    <li><a href="">Renaming items	54</a></li>
                    <li><a href="">Moving items	54</a></li>
                </ul>
            </li> 
            <li><a href="">Global Config	54</a></li>
            <li>
                <a href="">Sitecore Rocks	56</a>
                <ul>
                    <li><a href="">Setting up Rocks and TDS	56</a></li>
                    <li><a href="">Getting items using Rocks	57</a></li>
                    <li><a href="">TDS and Sitecore upgrades	57</a></li>
                </ul>
            </li> 
        </ul>
    </li> 
    <li>
        <a href="">Chapter 5 – TDS Builds and Deployment	58</a>
        <ul>
            <li><a href="">Solution Configurations and Project Configurations	58</a></li>
            <li><a href="">Configuration File Transforms	58</a></li>
            <li><a href="">Building Packages	59</a></li>
        </ul>
    </li> 
    <li>
        <a href="">Chapter 6 – Code Generation	59</a>
        <ul>
            <li>
                <a href="">vData Models	60</a>
                <ul>
                    <li><a href="">ProjectHeader	60</a></li>
                    <li><a href="">SitecoreItem	60</a></li>
                    <li><a href="">SitecoreTemplate	60</a></li>
                    <li><a href="">SitecoreField	61</a></li>
                </ul>
            </li> 
            <li>
                <a href="">Transformation Templates	61</a>
                <ul>
                    <li><a href="">Header Transformation File	61</a></li>
                    <li><a href="">Item Transformation File	61</a></li>
                </ul>
            </li> 
            <li><a href="">Sample Transformation Templates	61</a></li>
            <li>
                <a href="">Setup	62</a>
                <ul>
                    <li><a href="">Project Level Setup	62</a></li>
                    <li><a href="">Creating Header and Base Project Transform Files	62</a></li>
                </ul>
            </li> 
            <li><a href="">Item Level Properties	63</a></li>
            <li><a href="">Namespaces	64</a></li>
        </ul>
    </li> 
</ul>