<ul>
    <li>
        <a href="./chapter1.html">Chapter 1 – Introduction</a>
        <ul>
            <li><a href="./chapter1.html#team_development_for_sitecore_tds">Team Development for Sitecore (TDS)</a></li>
            <li><a href="./chapter1.html#how_it_works">How It Works</a></li>
            <li><a href="./chapter1.html#why_tds_works">Why TDS works</a></li>
            <li>
                <a href="./chapter1.html#work_environments">Work Environments</a>
                <ul>

                    <li><a href="./chapter1.html#development_environment_before_tds">Development environment before TDS</a></li>
                    <li><a href="./chapter1.html#development_environment_using_tds">Development environment using TDS</a></li>
                </ul>
            </li> 
        </ul>
    </li> 
    <li>
        <a href="./chapter2.html">Chapter 2 – Getting started with TDS</a>
        <ul>
            <li><a href="./chapter2.html#system_requirements">System Requirements</a></li>
            <li>
                <a href="./chapter2.html#installation">Installation</a>
                <ul>
                    <li><a href="./chapter2.html#stepbystep_instructions">Step-by-Step Instructions</a></li>
                    <li><a href="./chapter2.html#updateing_the_tds_license">Updating the TDS License</a></li>
                </ul>
            </li> 
            <li>
                <a href="./chapter2.html#initial_configuration">Initial Configuration</a>
                <ul>
                    <li><a href="./chapter2.html#create_the_tds_project">Create the TDS Project</a></li>
                    <li><a href="./chapter2.htm#connect_the_tds_project_to_sitecore">Connect the TDS Project to Sitecore</a></li>
                    <li><a href="./chapter2.html#adding_sitecore_items_to_the_tds_project">Adding Sitecore items to the TDS Project</a></li>
                    <li><a href="./chapter2.html#choosing_which_items_to_bring_into_a_tds_porject">Choosing which items to bring into a TDS 		project</a></li>
                </ul>
            </li> 

            <li>
                <a href="./chapter2.html#tds_project_types">TDS Project Types</a>
                <ul>

                    <li><a href="./chapter2.html#tds_project">TDS Project</a></li>
                    <li><a href="./chapter2.html#tds_project_with_wizard">TDS Project with Wizard</a></li>
                </ul>
            </li>
        </ul>
    </li> 
    <li>
        <a href="./chapter3.html">Chapter 3 – TDS Architecture</a>
        <ul>
            <li><a href="./chapter3.html#tds_addin">TDS Add-in</a></li>
            <li><a href="./chapter3.html#tds_web_service">TDS Web Service</a></li>
        </ul>
    </li> 
    <li>
        <a href="./chapter4.html">Chapter 4 – Using TDS for Sitecore Development	</a>
        <ul>

            <li><a href="./chapter4.html#the_sitecore_databases">The Sitecore database(s)	</a></li>
            <li><a href="./chapter4.html#working_outside_the_web_root">Working outside the web root</a></li>
            <li><a href="./chapter4.html#Solution Structure">Solution Structure</a></li>
            <li><a href="./chapter4.html#tds_project_property_pages">TDS project property pages	</a>
                <ul>
                    <li><a href="./chapter4.html#general">General</a></li>
                    <li><a href="./chapter4.html#code_generation">Code Generation	</a></li>
                    <li><a href="./chapter4.html#multiproject_properties">Multi-project Properties</a></li>
                    <li><a href="./chapter4.html#build">Build</a></li>
                    <li><a href="./chapter4.html#update_package">Update Package	</a></li>
                    <li><a href="./chapter4.html#file_replacement">File Replacement	</a></li>
                    <li><a href="./chapter4.html#validations">Validations</a></li>
                </ul>
            </li> 
            <li><a href="./chapter4.html#deployment_properties">Deployment Properties	</a></li>
            <li><a href="./chapter4.html#visual_studio_property_window">Visual Studio Property Window</a></li>
            <li><a href="./chapter4.html#tds_options_window">TDS Options Window	</a>
                <ul>
                    <li><a href="./chapter4.html#general_options">General Options</a></li>
                    <li><a href="./chapter4.html#sync_window">Sync Window</a></li>
                </ul>
            </li> 
            <li><a href="./chapter4.html#deployment_property_manager">Deployment Property Manager</a></li>
            <li><a href="./chapter4.html#adding_sitecore_items_to_a_project">Adding Sitecore items to a project</a></li>
            <li><a href="./chapter4.html#updating_sitecore_items_in_a_project">Updating Sitecore Items in a project</a>
                <ul>
                    <li><a href="./chapter4.html#the_sync_window">The Sync Window</a></li>
                    <li><a href="./chapter4.html#the_merge_window">The Merge Window</a></li>
                    <li><a href="./chapter4.html#renaming_items">Renaming items</a></li>
                    <li><a href="./chapter4.html#moving_items">Moving items</a></li>
                </ul>
            </li> 
            <li><a href="./chapter4.html#global_config">Global Config</a></li>
            <li>
                <a href="./chapter4.html#sitecore_rocks">Sitecore Rocks</a>
                <ul>
                    <li><a href="./chapter4.html#setting_up_rocks_and_tds">Setting up Rocks and TDS</a></li>
                    <li><a href="./chapter4.html#getting_items_using_rocks">Getting items using Rocks</a></li>
                    <li><a href="./chapter4.html#tds_and_sitecor_upgrades">TDS and Sitecore upgrades</a></li>
                </ul>
            </li> 
        </ul>
    </li> 
    <li>
        <a href="./chapter5.html">Chapter 5 – TDS Builds and Deployment	</a>
        <ul>
            <li><a href="./chapter5.html#solution_configurations_and_project_configurations">Solution Configurations and Project Configurations	</a></li>
            <li><a href="./chapter5.html#configuration_file_transforms">Configuration File Transforms	</a></li>
            <li><a href="./chapter5.html#building_packages">Building Packages	</a></li>
        </ul>
    </li> 
    <li>
        <a href="./chapter6.html">Chapter 6 – Code Generation	</a>
        <ul>
            <li>
                <a href="./chapter6.html#data_models">vData Models	</a>
                <ul>
                    <li><a href="./chapter6.html#projectheader">ProjectHeader	</a></li>
                    <li><a href="./chapter6.html#sitecoreitem">SitecoreItem	</a></li>
                    <li><a href="./chapter6.html#sitecoretemplate">SitecoreTemplate	</a></li>
                    <li><a href="./chapter6.html#sitecorefield">SitecoreField	</a></li>
                </ul>
            </li> 
            <li>
                <a href="./chapter6.html#transformation_templates">Transformation Templates	</a>
                <ul>
                    <li><a href="./chapter6.html#header_transformation_file">Header Transformation File	</a></li>
                    <li><a href="./chapter6.html#item_transformation_file">Item Transformation File	</a></li>
                </ul>
            </li> 
            <li><a href="./chapter6.html#sample_transformation_templates">Sample Transformation Templates	</a></li>
            <li>
                <a href="./chapter6.html#setup">Setup	</a>
                <ul>
                    <li><a href="./chapter6.html#project_level_setup">Project Level Setup	</a></li>
                    <li><a href="./chapter6.html#creating_header_and_base_project_transformation_files">Creating Header and Base Project Transform Files	</a></li>
                </ul>
            </li> 
            <li><a href="./chapter6.html#item_level_properties">Item Level Properties	</a></li>
            <li><a href="./chapter6.html#namespaces">Namespaces	</a></li>
        </ul>
    </li> 
</ul>