<ul>
    <li>
        <a href="./chapter1.html"><strong>Chapter 1 – Introduction</strong></a>
        <ul>
            <li><a href="./chapter1.html#tds-classic">TDS Classic</a></li>
            <li><a href="./chapter1.html#how-it-works">How It Works</a></li>
            <li><a href="./chapter1.html#why-tds-classic-works">Why TDS Classic works</a></li>
            <li>
                <a href="./chapter1.html#work-environments">Work Environments</a>
                <ul>

                    <li><a href="./chapter1.html#development-environment-before-tds-classic">Development environment before TDS Classic</a></li>
                    <li><a href="./chapter1.html#development-environment-using-tds-classic">Development environment using TDS Classic</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="./chapter2.html"><strong>Chapter 2 – Getting started with TDS Classic</strong></a>
        <ul>
            <li><a href="./chapter2.html#system-requirements">System Requirements</a></li>
            <li>
                <a href="./chapter2.html#installation">Installation</a>
                <ul>
                    <li><a href="./chapter2.html#step-by-step-instructions">Step-by-Step Instructions</a></li>
                    <li><a href="./chapter2.html#updating-the-tds-classic-license">Updating the TDS Classic License</a></li>
                </ul>
            </li>
            <li>
                <a href="./chapter2.html#initial-configuration">Initial Configuration</a>
                <ul>
                    <li><a href="./chapter2.html#create-the-tds-classic-project">Create the TDS Classic Project</a></li>
                    <li><a href="./chapter2.html#connect-the-tds-classic-project-to-sitecore">Connect the TDS Classic Project to Sitecore</a></li>
                    <li><a href="./chapter2.html#adding-sitecore-items-to-the-tds-classic-project">Adding Sitecore items to the TDS Classic Project</a></li>
                    <li><a href="./chapter2.html#choosing-which-items-to-bring-into-a-tds-classic-project">Choosing which items to bring into a TDS project</a></li>
                </ul>
            </li>

            <li>
                <a href="./chapter2.html#tds-classic-project-types">TDS Classic Project Types</a>
                <ul>

                    <li><a href="./chapter2.html#tds-classic-project">TDS Classic Project</a></li>
                    <li><a href="./chapter2.html#tds-classic-project-with-wizard">TDS Classic Project with Wizard</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="./chapter3.html"><strong>Chapter 3 – TDS Classic Architecture</strong></a>
        <ul>
            <li><a href="./chapter3.html#tds-classic-add-in">TDS Classic Add-in</a></li>
            <li><a href="./chapter3.html#tds-classic-web-service">TDS Classic Web Service</a></li>
        </ul>
    </li>
    <li>
        <a href="./chapter4.html"><strong>Chapter 4 – Using TDS Classic for Sitecore Development</strong></a>
        <ul>

            <li><a href="./chapter4.html#the-sitecore-databases">The Sitecore databases</a></li>
            <li><a href="./chapter4.html#working-outside-the-web-root">Working outside the web root</a></li>
            <li><a href="./chapter4.html#solution-structure">Solution Structure</a></li>
            <li><a href="./chapter4.html#tds-classic-project-property-pages">TDS Classic project property pages</a>
                <ul>
                    <li><a href="./chapter4.html#general">General</a></li>
                    <li><a href="./chapter4.html#code-generation">Code Generation</a></li>
                    <li><a href="./chapter4.html#multi-project-properties">Multi-project Properties</a></li>
                    <li><a href="./chapter4.html#environment-validation">Environment Validation</a></li>
                    <li><a href="./chapter4.html#build">Build</a></li>
                    <li><a href="./chapter4.html#update-package">Update Package</a></li>
                    <li><a href="./chapter4.html#deploy">Deploy</a></li>
                    <li><a href="./chapter4.html#nuget-package">NuGet Package</a></li>
                    <li><a href="./chapter4.html#validations">Validations</a></li>
                    <li><a href="./chapter4.html#project-report">Project Report</a></li>
                    <li><a href="./chapter4.html#file-replacement">File Replacement</a></li>
                </ul>
            </li>
            <li><a href="./chapter4.html#deployment-properties">Deployment Properties</a></li>
            <li><a href="./chapter4.html#visual-studio-property-window">Visual Studio Property Window</a></li>
            <li><a href="./chapter4.html#tds-classic-options-window">TDS Classic Options Window</a>
                <ul>
                    <li><a href="./chapter4.html#general-options">General Options</a></li>
                    <li><a href="./chapter4.html#sync-window">Sync Window</a></li>
                    <li><a href="./chapter4.html#sync-window-languages">Sync Window Languages</a></li>
                </ul>
            </li>
            <li><a href="./chapter4.html#deployment-property-manager">Deployment Property Manager</a>
            </li>
            <li><a href="./chapter4.html#adding-sitecore-items-to-a-project">Adding Sitecore items to a project</a></li>
            <li><a href="./chapter4.html#updating-sitecore-items-in-a-project">Updating Sitecore Items in a project</a>
                <ul>
                    <li><a href="./chapter4.html#the-sync-window">The Sync Window</a></li>
                    <li>
                        <a href="./chapter4.html#the-merge-window">The Merge Window</a>
                        <ul>
                            <li><a href="./chapter4.html#keyboard-shortcuts-1">Keyboard Shortcuts</a></li>
                        </ul>
                    </li>
                    <li><a href="./chapter4.html#renaming-items">Renaming items</a></li>
                    <li><a href="./chapter4.html#moving-items">Moving items</a></li>
                    <li><a href="./chapter4.html#sync-using-history-window">Sync Using History Window</a></li>
                    <li><a href="./chapter4.html#sync-all-projects-using-history-window">Sync All Projects Using History Window</a></li>
                    <li><a href="./chapter4.html#sync-sitecore-roles">Sync Sitecore Roles</a></li>
                </ul>
            </li>
            <li>
                <a href="./chapter4.html#quick-push-items">Quick Push Items</a>
            </li>
            <li><a href="./chapter4.html#sitecore-item-merge">Sitecore Item Merge</a>
                <ul>
                    <li><a href="./chapter4.html#setting-up-sitecore-item-merge-for-source-control-providers">Setting up Sitecore Item Merge for Source Control Providers</a></li>
                    <li><a href="./chapter4.html#configuring-sitecore-item-merge-for-git-using-script">Configuring Sitecore Item Merge for Git using script</a></li>
                    <li><a href="./chapter4.html#configuring-sitecore-item-merge-for-git-using-mergechooser">Configuring Sitecore Item Merge for Git using MergeChooser</a></li>
                </ul>
            </li>
            <li><a href="./chapter4.html#global-config">Global Config</a></li>
            <li>
                <a href="./chapter4.html#sitecore-rocks">Sitecore Rocks</a>
                <ul>
                    <li><a href="./chapter4.html#setting-up-rocks-and-tds-classic">Setting up Rocks and TDS Classic</a></li>
                    <li><a href="./chapter4.html#getting-items-using-rocks">Getting items using Rocks</a></li>
                    <li><a href="./chapter4.html#tds-classic-and-sitecore-upgrades">TDS Classic and Sitecore upgrades</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="./chapter5.html"><strong>Chapter 5 – TDS Classic Builds and Deployment</strong></a>
        <ul>
            <li><a href="./chapter5.html#solution-configurations-and-project-configurations">Solution Configurations and Project Configurations</a></li>
            <li><a href="./chapter5.html#configuration-file-transforms">Configuration File Transforms</a></li>
            <li><a href="./chapter5.html#building-packages">Building Packages</a></li>
            <li><a href="./chapter5.html#tds-classic-builds-using-cloud-servers">TDS Classic builds using cloud servers</a></li>
        </ul>
    </li>
    <li>
        <a href="./chapter6.html"><strong>Chapter 6 – Code Generation</strong></a>
        <ul>
            <li>
                <a href="./chapter6.html#data-models">vData Models</a>
                <ul>
                    <li><a href="./chapter6.html#projectheader">ProjectHeader</a></li>
                    <li><a href="./chapter6.html#sitecoreitem">SitecoreItem</a></li>
                    <li><a href="./chapter6.html#sitecoretemplate">SitecoreTemplate</a></li>
                    <li><a href="./chapter6.html#sitecorefield">SitecoreField</a></li>
                </ul>
            </li>
            <li>
                <a href="./chapter6.html#transformation-templates">Transformation Templates</a>
                <ul>
                    <li><a href="./chapter6.html#header-transformation-file">Header Transformation File</a></li>
                    <li><a href="./chapter6.html#item-transformation-file">Item Transformation File</a></li>
                </ul>
            </li>
            <li><a href="./chapter6.html#sample-transformation-templates">Sample Transformation Templates</a></li>
            <li>
                <a href="./chapter6.html#setup">Setup</a>
                <ul>
                    <li><a href="./chapter6.html#project-level-setup">Project Level Setup</a></li>
                    <li><a href="./chapter6.html#creating-header-and-base-project-transformation-files">Creating Header and Base Project Transform Files</a></li>
                </ul>
            </li>
            <li><a href="./chapter6.html#item-level-properties">Item Level Properties</a></li>
            <li><a href="./chapter6.html#namespaces">Namespaces</a></li>
        </ul>
    </li>
</ul>
