<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="metro">
        <div class="container">
            {% include navigation.html %}
            <div class="grid">
                <div class="row">
                    <div class="span4">
                        {% include avtorchapters.html %}
                    </div>
                    <div class="span10">
                        <h1 id="avtor">Avtor</h1> <img src="/Images/Avtor/Avtor.png" alt="Avtor logo" />
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
        {% include foot.html %}
    </body>
</html>