<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/css/metro-bootstrap.min.css" rel="stylesheet" />
        <link href="/css/metro-bootstrap-responsive.min.css" rel="stylesheet"/>
        <link href="/css/iconFont.min.css" rel="stylesheet"/>
    </head>
    <body class="metro">
        <div class="container">
            <div class="navigation-bar white border">
                <div class="navigation-bar-content container">
                    <a href="/" class="element"><img src="/Images/Logo-24.png" />Hedgehog Development</a>
                    <span class="element-divider"></span>
                    <a class="element pull-menu" href="/tds/index.html">TDS Manual</a>
                </div>
            </div>

            {{content}}

        </div>
        
        

        <script src="/Scripts/jquery-2.1.1.min.js"></script>
        <script src="/js/metro.min.js"></script>
    </body>
</html>